{% extends 'base.html' %}

{% block content %}
    {% if todos %}
        <ul>
            {% for todo in todos %}
                <li class="todo">
                    <div>
                        <h1>
                            {% if todo['completed'] == 1 %}
                                <strike>{{ todo['description'] }}</strike>
                            {% else %}
                                {{ todo['description'] }}
                            {% endif %}
                        </h1>
                        <div class="about">{{ todo['created_at'].strftime('%Y-%m-%d') }}</div>
                        <!-- Enlaces de "Editar" para cada tarea -->
                        <a class="action" href="{{ url_for('todo.update', id=todo['id']) }}">Editar</a>
                    </div>
                </li>
                {% if not loop.last %}
                    <hr>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay tareas.</p>
    {% endif %}
    
    <!-- Enlace de "Crear", se muestra solo si no hay tareas -->
        <a class="action" href="{{ url_for('todo.create') }}">Crear tarea</a>
{% endblock %}

